html,
body,
#root {
    background-color: #2f303a;
    color: #e0e0e0;
    height: 100%;
}

.main {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #373843;
    flex-direction: column;
    height: calc(50% + 200px);
}

.roomId {
    margin-left: 10px;
}

.roomId input{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    color: #e0e0e0;
    margin-right: 20px;
}

.roomId input::placeholder{
    color: #bbb;
    font-style: italic;
}

/* .history-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    height: 100%;
    max-height: 100%;
    align-items: flex-end;
} */

.history-content {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    height: 100%;
    max-height: 100%;
    align-items: flex-end;
    width: 95%;
    overflow-y: auto;
}

.history-content::-webkit-scrollbar {
    display: none;
}

.history-content .message-container {
    max-width: 100%;
    margin-bottom: 10px;
}

.history-content .message-container.local{
    align-self: flex-end;
    text-align: right;
}

.history-content .message-container.foreign{
    align-self: flex-start;
    text-align: left;
}

.history-content .message-container.notif{
    transform: translateX(250px);
    font-size: 75%;
    font-style: italic;
}

.history-content .sender {
    font-size: 75%;
    opacity: 75%;
}

.message-box {
    width: 100%;
    text-align: center;
}

.message-box input {
    width: 90%;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

.message-box button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0 4px 4px 0;
    transition: background-color ease 0.3s;
}

.message-box button:hover {
    background-color: #1f2024;
}